notification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:notification="http://SubscriptionEngine.ibm.com/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
name="Notification"
targetNamespace="http://SubscriptionEngine.ibm.com/">
<wsdl:types>
<xsd:schema targetNamespace="http://SubscriptionEngine.ibm.com/">
<xsd:element name="notificationToCP">
<xsd:complexType name="notificationRespDTO">
<xsd:sequence>
<xsd:element name="xactionId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
<xsd:element name="errorCode" type="xsd:string" maxOccurs="1"
minOccurs="0"></xsd:element>
<xsd:element name="errorMsg" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
<xsd:element name="temp1" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
<xsd:element name="temp2" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
<xsd:element name="temp3" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
<xsd:element name="lowBalance" type="xsd:string" maxOccurs="1"
minOccurs="0"></xsd:element>
<xsd:element name="amount" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
<xsd:element name="chargingTime" type="xsd:string" maxOccurs="1"
minOccurs="0"></xsd:element>
<xsd:element name="msisdn" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
<xsd:element name="productId" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="notificationResponse">
<xsd:complexType>
</xsd:complexType>
</xsd:element>
<xsd:element name="notificationErrorResponse">
<xsd:complexType>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="notificationRequestMessage">
<wsdl:part name="parameters" element="notification:notificationToCP"/>
</wsdl:message>
<wsdl:message name="notificationResponseMessage">
<wsdl:part name="parameters" element="notification:notificationResponse"/>
</wsdl:message>
<wsdl:message name="notificationErrorResponse">
<wsdl:part name="parameters" element="notification:notificationErrorResponse"/>
</wsdl:message>
<wsdl:portType name="notification">
<wsdl:operation name="notify">
<wsdl:input message="notification:notificationRequestMessage"></wsdl:input>
<wsdl:output message="notification:notificationResponseMessage"></wsdl:output>
<wsdl:fault name="error" message="notification:notificationErrorResponse"></wsdl:fault>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="notification" type="notification:notification">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
<wsdl:operation name="notify">
<soap:operation soapAction="http://localhost:8002/notify" />
<wsdl:input>
<soap:body use="literal" />
</wsdl:input>
<wsdl:output>
<soap:body use="literal" />
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="notification">
<wsdl:port name="productInfoSOAP" binding="notification:notification">
<soap:address location="http://localhost:8002/notification" />
</wsdl:port>
</wsdl:service>
</wsdl:definitions>